body {
  margin-top: 60px;
}

.content {
  color: #111;
      padding: 40px;
      background-color: goldenrod;
      border-color: darkred;
      border-width: 10px;
      border-style: double;
      font-size: 2rem;
    }

#title {
  color:  darkred;
  text-align: center;
  padding: 2em;
}
#img-caption {
  font-size: .875em;
  text-align: center;
  margin: 2em;
}

#tribute-info {
  font-size: 1em;
}