body {
  margin-top: 60px;
}

.content {
  color: #111;
      padding: 40px;
      background-color: goldenrod;
      border-color: darkred;
      border-width: 10px;
      border-style: double;
      font-size: 2rem;
    }